# Environment
NODE_ENV=development

# RabbitMQ
RABBITMQ_URL=amqp://test1:test1@localhost:5672

FACEBOOK_USERNAME=test1
FACEBOOK_PASSWORD=test1

# Browser Configuration
HEADLESS=true
BROWSER_TIMEOUT=60000
MAX_SCROLL=5