#  ENVIRONMENT
NODE_ENV=development

# DATABASE (PostgreSQL)
POSTGRES_USER=test1
POSTGRES_PASSWORD=test1
POSTGRES_DB=listingdb
POSTGRES_PORT=5432

# MESSAGE BROKER (RabbitMQ)
RABBITMQ_USER=test1
RABBITMQ_PASSWORD=test1
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# API SERVICE
API_PORT=8080

# WORKER CONCURRENCY
SEEDER_CONCURRENCY=2
WORKER_CONCURRENCY=5

# Facebook Credentials
FACEBOOK_USERNAME=test1
FACEBOOK_PASSWORD=test1


SCRAPE_URL=https://www.facebook.com/marketplace/manila/cars?minPrice=300000&maxPrice=300001&exact=true