# Environment
NODE_ENV=development

# Database
DATABASE_URL=postgresql://test1:test1@localhost:5432/listingdb

# RabbitMQ
RABBITMQ_URL=amqp://test1:test1@localhost:5672

# Extractor Configuration
WORKER_CONCURRENCY=5

# Browser Configuration
HEADLESS=true
BROWSER_TIMEOUT=60000